__pycache__

venv/
.vscode/
.docker/
docker/
deps/
etc/

config/.storage
python-lovelace/


raspiBackup.log
*.IGNORE
entity_registry.yaml
emulated_hue_ids.*
.DS_Store
.homekit.state

homeassistant.code-workspace
home-assistant_v2.db
home-assistant.log
config/.cloud/
config/.google.token
config/.HA_VERSION
config/.ios.conf
config/.tradfri_psk.conf
config/.uuid
config/alexa_media.pickle
config/core
config/google_calendars.yaml
config/secrets.yaml
config/zw*.xml
config/options.xml
config/OZW_Log.txt
config/pyozw.sqlite
config/home-assistant.log
config/home-assistant_v2.db*
config/known_devices.yaml
config/www/images