__pycache__

venv/
.vscode/
.docker/
docker/
etc/

raspiBackup.log
*.IGNORE
entity_registry.yaml
emulated_hue_ids.json
.DS_Store
homeassistant.code-workspace

config/.cloud/
config/.google.token
config/.HA_VERSION
config/.ios.conf
config/.tradfri_psk.conf
config/.uuid
config/core
config/google_calendars.yaml
config/secrets.yaml
config/zw*.xml
config/options.xml
config/OZW_Log.txt
config/pyozw.sqlite
config/home-assistant.log
config/home-assistant_v2.db
config/known_devices.yaml