version: '2'

services:

  influxdb:
    image: hypriot/rpi-influxdb
    container_name: influxdb
    network_mode: host
    restart: always
    ports:
      - 8086:8086
      - 8083:8083    
    volumes:
      - ./docker/influxdb/data:/data
      - ./docker/influxdb/config:/etc/influxdb

  grafana:
    image: fg2it/grafana-armhf:v5.1.3
    container_name: grafana
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./docker/grafana/data:/var/lib/grafana
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 3000:3000/tcp

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    network_mode: host
    restart: always
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./docker/mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./docker/mqtt/data:/mosquitto/data
      - /etc/localtime:/etc/localtime:ro
 

  homegear:
    image: homegear/rpi-homegear:stable
    container_name: homegear
    restart: always
    volumes:
        - ./docker/homegear/data/etc:/etc/homegear:Z 
        - ./docker/homegear/lib:/var/lib/homegear:Z 
        - ./docker/homegear/log:/var/log/homegear:Z 
        - /etc/localtime:/etc/localtime:ro
    environment:
        - TZ=Europe/Berlin 
        # TODO: inject uid and gid of homeassistant user
        - HOST_USER_ID=999
        - HOST_USER_GID=996
    ports:
        - 2001:2001 
        - 2002:2002 
        - 2003:2003 
    devices:
      - /dev/homegear:/dev/ttyACM0
 
  rc433mq:
    image: mischu/rc433mq:0.2
    restart: always
    container_name: rc433mq
    network_mode: host
    privileged: true
    depends_on:
      - mqtt
    volumes:
        - ./docker/rc433mq/conf/consumer.json:/usr/src/rc433mq/conf/consumer.json:ro
        - ./docker/rc433mq/conf/devices.json:/usr/src/rc433mq/conf/devices.json:ro
        - /etc/localtime:/etc/localtime:ro

  hass:
    image: homeassistant/raspberrypi3-homeassistant:latest
    container_name: home-assistant
    restart: always
    privileged: true
    network_mode: host
    depends_on:
      - homegear
      - mqtt
      - influxdb
      - rc433mq
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
      - ./etc/rxv/rxv.py:/usr/local/lib/python3.6/site-packages/rxv/rxv.py
    ports:
      - 8123:8123    
