version: '2'

services:

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    network_mode: host
    restart: always
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./docker/mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./docker/mqtt/data:/mosquitto/data
      - /etc/localtime:/etc/localtime:ro
 

  homegear:
    image: homegear/rpi-homegear:stable
    container_name: homegear
    restart: always
    volumes:
      - ./docker/homegear/data/etc:/etc/homegear:Z
      - ./docker/homegear/lib:/var/lib/homegear:Z 
      - ./docker/homegear/log:/var/log/homegear:Z
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=Europe/Berlin 
      # TODO: inject uid and gid of homeassistant user
      - HOST_USER_ID=999
      - HOST_USER_GID=996
    ports:
      - 2001:2001 
      - 2002:2002
      - 2003:2003 
    devices:
      - /dev/homegear:/dev/ttyACM0
 
  #docker run --privileged=true --restart=always -v /home/pi/rc433mq/conf:/usr/src/rc433mq/conf:ro -v /home/pi/rc433mq/logs:/usr/src/rc433mq/logs -v /etc/localtime:/etc/localtime:ro --name rc433mq mischu/rc433mq:0.3

  rc433mq:
    image: mischu/rc433mq:0.3
    restart: always
    container_name: rc433mq
    network_mode: host
    privileged: true
    depends_on:
      - mqtt
    volumes:
      - ./docker/rc433mq/conf:/usr/src/rc433mq/conf:ro      
      - ./docker/rc433mq/logs:/usr/src/rc433mq/logs
      - /etc/localtime:/etc/localtime:ro

  hass:
    image: homeassistant/raspberrypi3-homeassistant:stable
    container_name: home-assistant
    restart: always
    privileged: true
    network_mode: host
    depends_on:
      - homegear
      - mqtt
      - rc433mq
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
      - ./etc/rxv/rxv.py:/usr/local/lib/python3.6/site-packages/rxv/rxv.py
    ports:
      - "8123:8123"
      - "80:80"

  # portainer:
  #   image: portainer/portainer:arm
  #   container_name: portainer
  #   restart: unless-stopped
  #   ports:
  #     - "9000:9000"
  #   volumes:
  #     - /var/portainer:/data
  #     - /var/run/docker.sock:/var/run/docker.sock
