version: '2'

services:
  influxdb:
    image: hypriot/rpi-influxdb
    container_name: influxdb
    network_mode: host
    restart: always
    ports:
      - 8086:8086
      - 8083:8083    
    volumes:
      - ./docker/influxdb/data:/data
      - ./docker/influxdb/config:/etc/influxdb

  grafana:
    image: fg2it/grafana-armhf:v5.1.3
    container_name: grafana
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./docker/grafana/data:/var/lib/grafana
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 3000:3000/tcp

  mqtt:
    image: mjenz/rpi-mosquitto
    container_name: mqtt
    restart: always
    ports:
      - 1883:1883
      - 9001:9001
    volumes:      
      - ./docker/mqtt/data:/mosquitto/data
      - ./docker/mqtt/log:/mosquitto/log

  homegear:
    image: homegear/rpi-homegear:stable
    container_name: homegear
    restart: always
    volumes:
        - ./docker/homegear/data/etc:/etc/homegear:Z 
        - ./docker/homegear/lib:/var/lib/homegear:Z 
        - ./docker/homegear/log:/var/log/homegear:Z 
        - /etc/localtime:/etc/localtime:ro
    environment:
        - TZ=Europe/Berlin 
        # TODO: inject uid and gid of homeassistant user
        - HOST_USER_ID=999
        - HOST_USER_GID=996
    ports:
        - 2001:2001 
        - 2002:2002 
        - 2003:2003 
    devices:
      - /dev/homegear:/dev/ttyACM0

  433restapi:
    image: mischu/433_rest_api
    restart: always
    container_name: 433restapi
    privileged: true
    ports:
      - 81:80
 
  hass:
    image: homeassistant/raspberrypi3-homeassistant
    container_name: home-assistant
    restart: always
    privileged: true
    network_mode: host
    depends_on:
      - homegear
      - influxdb
    # devices:
    #   - /dev/zwave:/dev/zwave
    volumes:
      - ./config:/config      
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 8123:8123    
    # Does not work on raspberry's docker version
    # healthcheck:
    #   test: "curl -Lf http://localhost:8123"