- name: Groundfloor Lights
  entities:
    group.ground_floor_433_lights: on 
    
    light.sofa:
      state: on
      brightness_pct: 45
    
    light.jeq0207587:
      state: on
      brightness_pct: 25
    
    light.jeq0207534:  
      state: on
      data_template:
        brightness: >
            {% if ( states.light.jeq0207534.attributes.brightness < 115 or states.light.jeq0207534.state == 'off' ) %}
              115
            {% else %}
              {{ states.light.jeq0207534.attributes.brightness | int }}
            {% endif %}

    light.jeq0207545:  
      state: on
      brightness_pct: 33
