- platform: template
  sensors:
    mirko_status:
      entity_id: input_select.mirko_state
      value_template: '{{ states.input_select.mirko_state.state }}'
      friendly_name: 'Mirko'
      entity_picture_template: /local/images/mirko.jpg      
    femke_status:
      entity_id: input_select.femke_state
      value_template: '{{ states.input_select.femke_state.state }}'
      friendly_name: 'Femke'
      entity_picture_template: /local/images/femke.jpg
    mika_status:
      entity_id: input_select.mika_state
      value_template: '{{ states.input_select.mika_state.state }}'
      friendly_name: 'Mika'
      entity_picture_template: /local/images/mika.jpg


- platform: mqtt
  state_topic: !secret bt_presence_ff_mirko
  value_template: '{{ value_json.confidence }}'
  unit_of_measurement: '%'
  name: 'bt_presence_ff_mirko_iphone'
  availability_topic: "presence/FF/status"
  payload_available: "online"
  payload_not_available: "offline"
  json_attributes:
    - rssi
    - timestamp
    - confidence

- platform: mqtt
  state_topic: !secret bt_presence_ff_femke
  value_template: '{{ value_json.confidence }}'
  unit_of_measurement: '%'
  name: 'bt_presence_ff_femke_iphone'
  availability_topic: "presence/FF/status"
  payload_available: "online"
  payload_not_available: "offline"

- platform: mqtt
  state_topic: !secret bt_presence_ff_mika
  value_template: '{{ value_json.confidence }}'
  unit_of_measurement: '%'
  name: 'bt_presence_ff_mika_huawei'
  availability_topic: "presence/FF/status"
  payload_available: "online"
  payload_not_available: "offline"

- platform: min_max
  name: "BT Presence FF Family"
  type: mean
  round_digits: 0
  entity_ids:
    - sensor.bt_presence_ff_mirko_iphone
    - sensor.bt_presence_ff_femke_iphone
    - sensor.bt_presence_ff_mika_huawei