- alias: "Coming home late"
  trigger:
    - platform: state
      entity_id: device_tracker.mirko_mobile_app
      from: 'not_home'
      to: 'home'
    - platform: state
      entity_id: device_tracker.iphone
      from: 'not_home'
      to: 'home'
    - platform: state
      entity_id: device_tracker.mikas_iphone_app
      from: 'not_home'
      to: 'home'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: input_boolean.sunset
        state: 'on'
      - condition: state
        entity_id: input_boolean.doorbell
        state: 'off'
  action:
    - service: homeassistant.turn_on
      entity_id: input_boolean.doorbell
    - service: light.turn_on
      data:
        brightness_pct: 70
        entity_id:
          - light.jeq0207587
          - light.shelly_dim_eg_bicycles
    - service: light.turn_on
      data:
        brightness_pct: 40
        entity_id: light.jeq0207545
    - service: light.turn_on
      data:
        entity_id: light.shelly_dim_eg_bicycles
        brightness_pct: 80
    - service: notify.telegram #notify.mobile_app_galaxy_s10
      data:
        title: '*Home-Assistant*'
        message: "Coming home late event"
