- alias: "Coming home late"
  trigger:
    platform: zone
    entity_id: group.owntracks
    zone: zone.home
    event: enter
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: input_boolean.sunset
        state: 'on'
      - condition: state
        entity_id: group.entree_lights
        state: 'off'
      - condition: state
        entity_id: group.parents
        state: 'not_home'
  action:
    - service: light.turn_on
      data:
        # Door
        brightness_pct: 60
        entity_id: light.jeq0207587  
    - service: light.turn_on
      data:
        # Entree
        brightness_pct: 30
        entity_id: light.jeq0207545 
