- alias: "Coming home late"
  trigger:    
    - platform: zone
      # entity_id: device_tracker.mirko_owntracks
      entity_id: group.mirko
      zone: zone.home
      event: enter
    - platform: zone
      entity_id: group.femke
      zone: zone.home
      event: enter
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: input_boolean.sunset
        state: 'on'      
      - condition: state
        entity_id: input_boolean.doorbell
        state: 'off'
  action:
    # see doorbell.yaml for turn_off event
    - service: homeassistant.turn_on
      entity_id: input_boolean.doorbell
    - service: light.turn_on
      data:
        # Door
        brightness_pct: 70
        entity_id: 
          - light.jeq0207587
          - light.shelly_dim_eg_bicycles
    - service: light.turn_on
      data:
        # Entree
        brightness_pct: 40
        entity_id: light.jeq0207545
    - service: notify.telegram #notify.mobile_app_sm_g975f
      data:
        title: '*Home-Assistant*'
        message: "Coming home late event"
