# ####################################################
# Morning routine
# ####################################################
- alias: "Turn on light Arbeitsplatte in the morning"
  trigger:
    platform: time
    at: '06:45:00'  
  condition:        
    condition: state
    entity_id: binary_sensor.workday
    state: 'on'
  action:
    - service: switch.turn_on
      entity_id: switch.gf_kitchen_ceiling_outlet
    - service: ligth.turn_on
      data:
        brightness_pct: 45
        entity_id:           
          - light.links
          - light.rechts

# ####################################################
# Sunset event
# ####################################################
- alias: "Turn on ground floor lights"
  trigger: 
    platform: state
    entity_id: input_boolean.sunset
    to: 'on'    
  action:
     # TODO: Make a scence
     # 
    - service: light.turn_on
      data:
        brightness_pct: 45
        entity_id:           
          - light.links
          - light.rechts

    - service: light.turn_on
      entity_id: light.jeq0207534
      data_template:
        brightness: >
          {% if ( states.light.jeq0207534.state == 'off' or states.light.jeq0207534.attributes.brightness < 115 ) %}
            115
          {% else %}
            {{ states.light.jeq0207534.attributes.brightness | int }}
          {% endif %}
        
    - service: light.turn_on
      data:
        brightness_pct: 25
        entity_id: 
          - light.jeq0207587
    - service: light.turn_on
      data:
        brightness_pct: 33
        entity_id:
          - light.jeq0207545
    - service: switch.turn_on
      entity_id: 
        - group.ground_floor_433_lights 
        - group.garden_lights
    - service: notify.ios_iphone_mirko
      data:
        title: "Home-Assistant"
        message: "Der Sonnenuntergang naht…"

    # - service: scene.turn_on
    #   entity_id: scene.groundfloor_lights
    # - service: switch.turn_on
    #   entity_id:         
    #     - group.garden_lights
    # - service: notify.ios_iphone_mirko
    #   data:
    #     message: "Der Sonnenuntergang naht…"  

- alias: "Turn off ground floor lights: 23:00"
  trigger:    
    platform: time
    at: '23:00:00'  
  action:
    service: homeassistant.turn_off
    entity_id:         
      - group.kitchen_lights        
    
- alias: "Turn off lights: 23:15"
  trigger:    
    platform: time
    at: '23:15:00'  
  action:
    - service: homeassistant.turn_off
      entity_id: 
        - group.livingroom_lights    
        - group.kitchen_lights
        - group.garden_lights
    - service: light.turn_on
      data:
        brightness_pct: 14
        entity_id: light.jeq0207587  

- alias: "Turn off lights: Entree"
  trigger:    
    platform: time
    at: '23:45:00'  
  action:
    service: homeassistant.turn_off
    entity_id: 
      - light.jeq0207587    

- alias: "Turn off lights: Door"
  trigger:    
    platform: time
    at: '00:15:00'  
  action:
    service: homeassistant.turn_off
    entity_id: 
      - light.jeq0207545