# automation kitchen_light_movement:
#   alias: Turn on off kitchen lights when there is movement
#   trigger:
#     - platform: state
#       entity_id: binary_sensor.Family_Room_Motion
#       to: 'on'
#     - platform: state
#       entity_id: binary_sensor.Family_Room_Motion
#       to: 'off'
#       for:
#         minutes: 10
#   action:
#     - service_template: 'light.turn_{{trigger.to_state.state}}'
#       entity_id: light.kitchen_light

- alias: "Turn on: Guest WIFI"
  trigger:
    - platform: state
      entity_id: input_boolean.guest_wlan
      to: 'on'
    - platform: state
      entity_id: group.trusted_friends
      from: 'not_home'
      to: 'home'
  action:
    - service: fritzbox_guestwifi.turn_on
    # - service: notify.ios_iphone_mirko
    #   data:
    #     title: "Home-Assistant"
    #     message: "Guest wifi turned ON"
    - service: notify.ios_iphone_femke
      data:
        title: "Home-Assistant"
        message: "Guest wifi turned ON"
    # - service: notify.telegram
    #   data:
    #     title: '*Home-Assistant*'
    #     message: "Guest wifi turned *ON*"
    - service: notify.mobile_app_sm_g975f
      data:
        title: '*Home-Assistant*'
        message: "Guest wifi turned *ON*"

- alias: "Turn off: Guest WIFI"
  trigger:
    - platform: time
      at: '00:00:00'
    - platform: state
      entity_id: input_boolean.guest_wlan
      from: 'on'
      to: 'off'
    - platform: state
      entity_id: input_boolean.guest_wlan
      to: 'on'
      for:
        minutes: 90
  condition:
    condition: state
    entity_id: input_boolean.guest_wlan
    state: 'on'
  action:
    - service: fritzbox_guestwifi.turn_off
    - service: notify.mobile_app_sm_g975f
      data:
        title: "Home-Assistant"
        message: "Guest wifi turned off"
    # - service: notify.ios_iphone_femke
    #   data:
    #     title: "Home-Assistant"
    #     message: "Guest wifi turned OFF"
    # - service: notify.telegram
    #   data:
    #     title: '*Home-Assistant*'
    #     message: "Guest wifi turned *OFF*"
