
- alias: "Turn on: Guest WIFI"
  trigger:
    - platform: state
      entity_id: input_boolean.guest_wlan
      to: 'on'
    - platform: state
      entity_id: group.trusted_friends
      from: 'not_home'
      to: 'home'
  action:
    - service: fritzbox_guestwifi.turn_on
    - service: notify.ios_iphone_mirko
      data:
        title: "Home-Assistant"
        message: "Guest wifi turned ON"    

- alias: "Turn off: Guest WIFI"
  trigger:
    - platform: time
      at: '00:00:00'
    - platform: state
      entity_id: input_boolean.guest_wlan
      to: 'off'
    - platform: state
      entity_id: input_boolean.guest_wlan
      to: 'on'
      for:
        minutes: 90
  condition:
    condition: state
    entity_id: input_boolean.guest_wlan
    state: 'on'
  action:
    - service: fritzbox_guestwifi.turn_off
    - service: notify.ios_iphone_mirko
      data:
        title: "Home-Assistant"
        message: "Guest wifi turned off"
