homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude_loc_home
  longitude: !secret longitude_loc_home
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 3
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Berlin
  # Customization file
  customize: !include customize.yaml
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 127.0.0.1
        - ::1
        - 192.168.178.0/24
        - fd00::/8
    - type: homeassistant
  external_url: !secret external_url
  internal_url: http://homeassi:8123

####################################################
#                                                  #
#                     Enables                      #
#                                                  #
####################################################
# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes


lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/lovelace-card-tools/card-tools.js
      type: js
    - url: /hacsfiles/lovelace-layout-card/layout-card.js
      type: js
    - url: /hacsfiles/button-card/button-card.js
      type: module
    - url: /hacsfiles/lovelace-slider-entity-row/slider-entity-row.js
      type: module
    - url: /hacsfiles/config-template-card/config-template-card.js
      type: module
    - url: /hacsfiles/lovelace-card-mod/card-mod.js
      type: module
    - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
      type: module
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module
    - url: /hacsfiles/lovelace-auto-entities/auto-entities.js
      type: module
    - url: /hacsfiles/lovelace-paper-buttons-row/paper-buttons-row.js
      type: module
    - url: /hacsfiles/lovelace-multiple-entity-row/multiple-entity-row.js
      type: module
    
  # dashboards:
  #   lovelace-yaml:
  #     mode: yaml
  #     title: Overview
  #     icon: mdi:view-dashboard
  #     show_in_sidebar: true
  #     filename: ui-lovelace.yaml

mobile_app:

# Enables configuration UI
config:

#Enables support for tracking state changes over time
history:
  include:
    domains:
      - sensor
      - switch
      - media_player
      - light
      - binary_sensor
      - device_tracker

# View all events in a logbook
logbook:
  exclude:
    entities:
      - group.system

logger:
  default: warning
  logs:    
    homeassistant.components.mqtt: info

sun:

cloud:

weather:
  - platform: darksky
    api_key: !secret darksky_api_key
    name: Wetter

alexa_media:
  accounts:
    - email: !secret alexa_email
      password: !secret alexa_password
      url: amazon.de
    - email: !secret alexa_jona_email
      password: !secret alexa_jona_password
      url: amazon.de
    - email: !secret alexa_mika_email
      password: !secret alexa_mika_password
      url: amazon.de



####################################################
#                                                  #
#                     Dies/Das                     #
#                                                  #
####################################################
http:
  ip_ban_enabled: true
  login_attempts_threshold: 5
  # base_url: !secret external_url
  # external_url: !secret external_url
  # internal_url: homeassi
  # Allow reverse proxy requests
  use_x_forwarded_for: true
  # You must set the trusted proxy IP address so that Home Assistant will properly accept connections
  # Set this to your NGINX machine IP, or localhost if hosted on the same machine.
  trusted_proxies: 192.168.178.25


telegram_bot:
  - platform: broadcast
    api_key: !secret telegram_api_token
    allowed_chat_ids:
      - !secret telegram_chat_id


notify:
  - platform: alexa_media
    name: alexa_media
  - platform: telegram
    name: telegram
    chat_id: !secret telegram_chat_id
  # makes a notify group to allow TTS messaging of multiple Alexas at once
  # - platform: group
  #   name: alexa_media_doorbell
  #   services:
  #     - service: alexa_media_echo_badezimmer
  #     - service: alexa_media_echo_dg_arbeitszimmer
  #     - service: alexa_media_mikas_echo

hacs:
  token: !secret github_hacs_token
  sidepanel_title: Community
  sidepanel_icon: mdi:alpha-c-box

updater:
  reporting: false

homekit:
  pincode: !secret homekit_pin
  port: 9124
  filter:
    include_entities:
      - light.jeq0207534 #essplatz
      - light.links
      - light.rechts
      - light.shelly_rgbw_ff_mika_led_strip

mqtt:
  broker: localhost
  port: 1883  
  client_id: home-assistant-1
  keepalive: 60
  # discovery: true
  # discovery_prefix: homeassistant


tts:
  - platform: google_translate
    service_name: google_say

zwave:
  usb_path: /dev/ttyACM0

# Example configuration.yaml entry
spotify:
  client_id: !secret spotify_client_id
  client_secret: !secret spotify_client_secret


# google_assistant:
#   project_id: homeassi-51b5d
#   exposed_domains:
#     - switch
#     - light


recorder:
  purge_keep_days: 2
  exclude:
    domains:
      - updater
      - automation
      - group
      - scene
      - script
    entities:
      - sensor.date
      - sun.sun
      - zone.home

google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret

fritzbox_guestwifi:
  username: !secret fritzbox_user
  password: !secret fritzbox_password

homematic:
  interfaces:
    wireless:
      host: 192.168.178.2
      port: 2001
      # resolvenames: metadata

speedtestdotnet:
  scan_interval:
    minutes: 30
  monitored_conditions:
    - ping
    - download
    - upload


person:
  - name: Mirko
    id: person_mirko
    user_id: 930ac8c04c884c6dba2c7585e533b169
    device_trackers:
      - device_tracker.mirko_mobile_app # APP
      - device_tracker.galaxy_s10       # Handy
  - name: Femke
    id: person_femke
    user_id: d78ceab5a0af4cfca21e49d638bbefdb
    device_trackers:
      - device_tracker.iphone           # APP
      - device_tracker.iphone_femke     # Handy
  - name: Mika
    id: person_mika
    user_id: f7eaa84806ad4037aabc5f5ae8d63f03
    device_trackers:
      - device_tracker.mikas_iphone_app # APP
      - device_tracker.mikas_iphone     # Handy
  - name: Jona
    id: person_jona
    user_id: 93cdb17814f048b7be7b6cfa20d700df
    device_trackers:
      - device_tracker.iphone_jona_app  # APP
      - device_tracker.iphone_jona      # Handy


system_health:

####################################################
#                                                  #
#                     Includes                     #
#                                                  #
####################################################

automation: !include_dir_merge_list automation
binary_sensor: !include_dir_merge_list binary_sensor
device_tracker: !include device_tracker.yaml
group: !include_dir_merge_named groups
input_boolean: !include_dir_merge_named input_boolean
input_datetime: !include_dir_merge_named input_datetime
input_select: !include_dir_merge_named input_select
input_number: !include_dir_merge_named input_number
media_player: !include_dir_merge_list media_player
script: !include_dir_named script
scene: !include_dir_merge_list scene
sensor: !include_dir_merge_list sensor
switch: !include_dir_merge_list switch
emulated_hue: !include alexa.yaml
zone: !include_dir_list zones
light: !include_dir_merge_list light
timer: !include_dir_merge_named timer
