homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude_loc_home
  longitude: !secret longitude_loc_home
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 3
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Berlin
  # Customization file
  customize: !include customize.yaml


####################################################
#                                                  #
#                     Enables                      #
#                                                  #
####################################################
# Enables the frontend
frontend:
  # javascript_version: latest

lovelace:
  mode: yaml
  
# Enables configuration UI
config:

#Enables support for tracking state changes over time
history:
  include:
    domains:
      - sensor
      - switch
      - media_player
      - light
      - binary_sensor
      
# View all events in a logbook
logbook:
  exclude:
    entities:
      - group.system

logger:
  default: warning
  logs:
    homeassistant.components.media_player: info    

sun:

cloud:

ios:

owntracks:
  waypoints: False
  track_new_devices: False

weather:
  - platform: darksky
    api_key: !secret darksky_api_key
    name: Wetter



####################################################
#                                                  #
#                     Dies/Das                     #
#                                                  #
####################################################
http: 
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123
  trusted_networks:
    - 127.0.0.1
    - ::1
    - 192.168.178.0/24
    - fd00::/8
 
notify:
  
homekit:
  pincode: !secret homekit_pin
  port: 9124
  filter:
    include_entities:
      - light.jeq0207534 #essplatz
      - light.links
      - light.rechts
      - group.groundfloor_lights      

# luftdaten:
#   sensor_id: 14343
#   show_on_map: false
#   sensors:
#     monitored_conditions:
#       - temperature
#       - humidity

mqtt:
  broker: localhost
  port: 1883  
  client_id: home-assistant-1
  keepalive: 60
#   # https://community.home-assistant.io/t/mqtt-working-mosquitto-cloudmqtt-bridge/1830/17
#   # https://community.home-assistant.io/t/mqtt-bridge/12177
#   broker: !secret cloudmqtt_host
#   port: !secret cloudmqtt_port
#   certificate: auto
#   username: !secret cloudmqtt_user
#   password: !secret cloudmqtt_password

tts:
  - platform: google

zwave:
  usb_path: /dev/ttyACM0

recorder: 
  purge_interval: 1
  purge_keep_days: 14
  exclude:
    domains:
      - updater
      - automation
      - device_tracker
      - group
      - scene
      - script
    entities:    
      - sensor.date    
      - sun.sun
      - zone.home

influxdb:
  include:
    domains:
      - sensor
      - switch
      - media_player
      - light
      - binary_sensor

google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret

fritzbox_guestwifi:
  username: !secret fritzbox_user
  password: !secret fritzbox_password

homematic:  
  interfaces:
    wireless:
      host: 192.168.178.2      
      port: 2001
      # resolvenames: metadata

####################################################
#                                                  #
#                     Includes                     #
#                                                  #
####################################################

automation: !include_dir_merge_list automation
binary_sensor: !include_dir_merge_list binary_sensor
device_tracker: !include device_tracker.yaml
group: !include_dir_merge_named groups
input_boolean: !include_dir_merge_named input_boolean
input_select: !include_dir_merge_named input_select
media_player: !include_dir_merge_list media_player
script: !include_dir_named script
scene: !include_dir_merge_list scene
sensor: !include_dir_merge_list sensor
switch: !include_dir_merge_list switch
emulated_hue: !include alexa.yaml
zone: !include_dir_list zones