homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude_loc_home
  longitude: !secret longitude_loc_home
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 3
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Berlin
  # Customization file
  customize: !include customize.yaml
  auth_providers:    
    - type: trusted_networks
      trusted_networks:
        - 127.0.0.1
        - ::1
        - 192.168.178.0/24
        - fd00::/8

####################################################
#                                                  #
#                     Enables                      #
#                                                  #
####################################################
# Enables the frontend
frontend:
#  themes: !include themes.yaml
  themes: !include_dir_merge_named themes
  javascript_version: latest

lovelace:
  mode: yaml
  
mobile_app:

# Enables configuration UI
config:

#Enables support for tracking state changes over time
history:
  include:
    domains:
      - sensor
      - switch
      - media_player
      - light
      - binary_sensor
      - device_tracker

# View all events in a logbook
logbook:
  exclude:
    entities:
      - group.system

logger:
  default: warning
  logs:
    homeassistant.components.panel_iframe: debug
#    homeassistant.components.homematic: debug
#    homeassistant.components.device_tracker: debug
    custom_components.emulated_hue: info  # optional

sun:

cloud:

ios:

owntracks:
  waypoints: False
  track_new_devices: False
  max_gps_accuracy: 150


pi_hole:  
  host: raspi-hole

weather:
  - platform: darksky
    api_key: !secret darksky_api_key
    name: Wetter

alexa_media:
  accounts:
    - email: !secret alexa_email
      password: !secret alexa_password
      url: amazon.de
    - email: !secret alexa_jona_email
      password: !secret alexa_jona_password
      url: amazon.de
    - email: !secret alexa_mika_email
      password: !secret alexa_mika_password
      url: amazon.de



####################################################
#                                                  #
#                     Dies/Das                     #
#                                                  #
####################################################
http:
  cors_allowed_origins:
    - http://192.168.178.1
    - https://google.com

telegram_bot:
  - platform: broadcast
    api_key: !secret telegram_api_token
    allowed_chat_ids:
      - !secret telegram_chat_id


notify:
  - platform: alexa_media
    name: alexa_media
  - platform: telegram
    name: telegram
    chat_id: !secret telegram_chat_id


hacs:
  token: !secret github_hacs_token
  sidepanel_title: Community
  sidepanel_icon: mdi:alpha-c-box
  theme: True
  python_script: True

updater:
  reporting: false

homekit:
  pincode: !secret homekit_pin
  port: 9124
  filter:
    include_entities:
      - light.jeq0207534 #essplatz
      - light.links
      - light.rechts
      - group.groundfloor_lights

mqtt:
  broker: localhost
  port: 1883  
  client_id: home-assistant-1
  keepalive: 60

tts:
  - platform: google_translate
    service_name: google_say

zwave:
  usb_path: /dev/ttyACM0

recorder:
  purge_interval: 1
  purge_keep_days: 2
  exclude:
    domains:
      - updater
      - automation
      - group
      - scene
      - script
    entities:
      - sensor.date
      - sun.sun
      - zone.home

google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret

fritzbox_guestwifi:
  username: !secret fritzbox_user
  password: !secret fritzbox_password

homematic:  
  interfaces:
    wireless:
      host: 192.168.178.2
      port: 2001
      # resolvenames: metadata

speedtestdotnet:
  scan_interval:
    minutes: 30
  monitored_conditions:
    - ping
    - download
    - upload

# stadtreinigung_hamburg:
#   - name: home
#     street: !secret srhh_street
#     number: !secret srhh_number


# HUE API
# http://192.168.178.2/api/pi/lights

person:
  - name: Mirko
    id: person_mirko
    user_id: 930ac8c04c884c6dba2c7585e533b169
    device_trackers:
      - device_tracker.mirko_mobile_app
      - device_tracker.mirko_owntracks
      - device_tracker.bt_mirko_gf
      - device_tracker.bt_mirko_ff
      # - device_tracker.galaxy_s10
  - name: Femke
    id: person_femke
    user_id: d78ceab5a0af4cfca21e49d638bbefdb
    device_trackers:
# - device_tracker.femke_owntracks
#     - device_tracker.femke_mobile_app
      - device_tracker.bt_femke_gf
      - device_tracker.bt_femke_ff
#     - device_tracker.iphone_femke
  - name: Mika
    id: person_mika
    user_id: f7eaa84806ad4037aabc5f5ae8d63f03
    device_trackers:
#     - device_tracker.mika_mobile_app
      - device_tracker.bt_mika_gf
      - device_tracker.bt_mika_ff
#     - device_tracker.mika_owntracks
#     - device_tracker.iphone_mika
  - name: Jona
    id: person_jona
    user_id: 93cdb17814f048b7be7b6cfa20d700df
    device_trackers:
      - device_tracker.jona_mobile_app
      - device_tracker.jona_owntracks
      - device_tracker.bt_jona_gf
      - device_tracker.bt_jona_ff
# - device_tracker.huawei_jona


system_health:

####################################################
#                                                  #
#                     Panels                       #
#                                                  #
####################################################

# panel_iframe:
#   fritzbox:
#     title: 'Fritz Box'
#     url: 'http://192.168.178.1'
#     icon: mdi:router-wireless
#   google:
#     title: 'Google'
#     url: https://www.google.com
#     icon: mdi:google


####################################################
#                                                  #
#                     Includes                     #
#                                                  #
####################################################

automation: !include_dir_merge_list automation
binary_sensor: !include_dir_merge_list binary_sensor
device_tracker: !include device_tracker.yaml
group: !include_dir_merge_named groups
input_boolean: !include_dir_merge_named input_boolean
input_select: !include_dir_merge_named input_select
media_player: !include_dir_merge_list media_player
script: !include_dir_named script
scene: !include_dir_merge_list scene
sensor: !include_dir_merge_list sensor
switch: !include_dir_merge_list switch
emulated_hue: !include alexa.yaml
zone: !include_dir_list zones
