first_floor:
  name: Obergeschoss
  entities:
    - sensor.aeotec_zw100_multisensor_6_temperature
    - sensor.aeotec_zw100_multisensor_6_luminance
    - sensor.aeotec_zw100_multisensor_6_alarm_level
    - group.ff_floor_lights
    - group.ff_mika
    - group.ff_jona
    - media_player.alexas_echo_dot

first_floor_lights:
  name: Obergeschoss
  entities:
    - group.ff_floor_lights
    - group.ff_children

ff_floor_lights:
  name: Flur Lichter
  entities:
    - light.meq0397149
    - switch.ff_floor_tree

ff_children:
  name: Kinder  
  entities:
    - group.ff_mika
    - group.ff_jona

ff_mika:
  name: Mika
  entities:
    - switch.ff_mika_bed
    - switch.ff_mika_outlet
    - media_player.mikas_echo

ff_jona:
  name: Jona
  entities:
    - switch.ff_jona_bed
    - switch.ff_jona_outlet
    - media_player.jonas_echo