
ground_floor:
  name: Erdgeschoss
  entities:
    - group.entree_lights
    - group.wardrobe_lights
    - group.kitchen_lights
    - group.livingroom
    - group.garden_lights

ground_floor_lights:
  name: Erdgeschoss
  entities:
    - group.entree_lights
    - group.wardrobe_lights
    - group.kitchen_lights
    - group.livingroom_lights
    - group.garden_lights

ground_floor_multimedia:
  name: Media (EG)
  entities:
    - group.kitchen_media
    - group.livingroom_media
    
ground_floor_433_lights:
  name: Erdgeschoss Funk
  entities:
    - switch.gf_kitchen_window
    - switch.gf_kitchen_workplace
    - switch.gf_livingroom_outlet
    - switch.gf_free_outlet_2

kitchen:
  name: Kueche
  icon: mdi:coffee
  entities:
    - group.kitchen_lights
    - group.kitchen_media

kitchen_lights:
  name: Küche Lichter
  icon: mdi:lightbulb
  entities:
    - light.jeq0207534
    - light.heq0359760
    - switch.gf_kitchen_window
    - switch.gf_kitchen_workplace
    - switch.gf_free_outlet_2
    
kitchen_media:
  name: Küche Multimedia
  icon: mdi:radio
  entities:
    - media_player.yamaha_receiver_zone_2


livingroom:
  name: Wohnzimmer
  icon: mdi:seat
  entities:
    - group.livingroom_lights
    - group.livingroom_media

livingroom_lights:
  name: Wohnzimmer Lichter
  icon: mdi:lightbulb
  entities:
    - switch.gf_livingroom_outlet   
    - light.meq0169146
    - group.livingroom_couch
    - light.links
    - light.rechts

livingroom_couch:
  name: Sofa
  icon: mdi:lightbulb
  entities:
    - light.links
    - light.rechts

livingroom_media:
  name: Wohnzimmer Multimedia
  icon: mdi:radio
  entities:
    - media_player.yamaha_receiver 
    - media_player.panasonic_viera_tv

yamaha_radio:
  name: Yamaha Radio
  entities:
    - input_select.yamaha_radio_station
    - script.yamaha_net_radio
    - script.yamaha_net_radio_zone2

entree_lights:
  name: Eingangsbereich
  icon: mdi:lightbulb
  entities:
    - light.jeq0207545
    - light.jeq0207587
    - light.shelly_dim_eg_bicycles

wardrobe_lights:
  name: Garderobe Lichter
  entities:
    - light.garderobe1
    # - light.garderobe2

wardrobe:
  name: Garderobe
  entities:
    - group.wardrobe_lights
    - sensor.tradfri_motion_sensor

garden_lights:
  name: Garten
  icon: mdi:lightbulb
  entities:
    - switch.feq0062058
