title: Mika
id: mikas_space
background: var(--background-image)
visible:
  - user: f7eaa84806ad4037aabc5f5ae8d63f03
  - user: 930ac8c04c884c6dba2c7585e533b169
  - user: d78ceab5a0af4cfca21e49d638bbefdb
cards:
    - id: mika_echo
      type: custom:mini-media-player
      artwork: cover
      icon: mdi:headphones
      entity: media_player.mikas_echo
    - type: entities
      title: Lichter
      show_header_toggle: false
      entities:
        - light.shelly_rgbw_ff_mika_led_strip
        - type: custom:auto-entities
          filter:
            include:
              - group: group.mika_scenes
          card:
            type: entities
            title: Szenen
    - id: mika_timer
      type: entities
      title: Good Night Timer
      show_header_toggle: false
      entities:
        - input_number.mika_timer_minutes 
        - type: divider
        - entity: timer.mika_timer
          name: Timer
          icon: mdi:timer  
          extend_paper_buttons_row:  
            buttons:
              - entity: script.mika_timer_start
                icon: mdi:timer
                name: Start
                style:
                  button:
                    margin-right: 8px
                  icon:
                    color: green
              - entity: script.mika_timer_stop
                icon: mdi:timer-off
                name: Stop    
                style:
                  button:
                    margin-right: 8px
                  icon:
                    color: red
        
    - id: mika_alarm_clock
      type: entities
      title: Alarm Clock
      show_header_toggle: false
      entities:
        - input_datetime.alarm_clock_time_mika
        - type: divider
        - input_boolean.alarm_clock_mika
        - type: "custom:paper-buttons-row"
          buttons:
            - entity: script.mika_alarm_fader_stop
              icon: mdi:timer-off
              name: Stop    
              style:
                button:
                  margin-right: 8px
                icon:
                  color: red

    - id: mika_steps
      type: custom:mini-graph-card
      name: Schritte
      entities:
        - sensor.mikas_iphone_steps
        - sensor.mikas_iphone_distance

    - id: mika_lichter
      type: custom:auto-entities
      filter:
        include:
          - group: group.mika_computer
      card:
        type: entities
        title: PC Stuff

    - id: mika_button_battery
      type: custom:mini-graph-card
      name: Button Battery
      entities:
        - sensor.mika_button_battery