alias: Script Guest Wifi ON
sequence:
  - alias: Guest Wifi ON
    service: fritzbox_guestwifi.turn_on
  - alias: Notify Mirko
    service: notify.ios_iphone_mirko
    data:
      title: "Guest wifi is enabled"
      message: ""